<div class="big-card_container">
  <a href="">
    <div class="big-card_image">
      <img
        src="https://www.dwinawan.com/blog/thumb_article35.jpg"
        alt="default image"
      />
    </div>
    <div class="big-card_date">
      <p>12 de Dez de 2022</p>
    </div>
    <div class="big-card_title">
      <h1>Dear UI Designer, yok bisa yok belajar bikin copy sendiri</h1>
    </div>
    <div class="big-card_description">
      <p>
        Lupakan sejenak Lorem Ipsum saat mengisi teks pada design UI mu. Coba
        buat copy mu sendiri. Buat rekan kerja UX Writer lebih happy saat
        bekerja.
      </p>
    </div>
  </a>
</div>
