<div class="main-area_container">
  <app-menu-bar></app-menu-bar>

  <app-title></app-title>

  <div class="articles_container">
    <div class="highlight">
      <app-big-card
        photoCover="https://www.dwinawan.com/blog/thumb_article35.jpg"
        articleDate="12 de Dez de 2022"
        cardTitle="Dear UI Designer, yok bisa yok belajar bikin copy sendiri"
        cardDescription="Lupakan sejenak Lorem Ipsum saat mengisi teks pada design UI mu. Coba buat copy mu sendiri. Buat rekan kerja UX Writer lebih happy saat bekerja."
      >
      </app-big-card>
    </div>

    <div class="articles_list">
      <app-small-card
        photoCover="https://www.dwinawan.com/blog/thumb_article34.jpg"
        articleDate="10 de Dez de 2022"
        articleTitle="Ketika kamu bingung mengisi konten pada eksplorasi design mu"
      >
      </app-small-card>
      <hr>
      <app-small-card
        photoCover="https://www.dwinawan.com/blog/thumb_article15.jpg"
        articleDate="07 de Dez de 2022"
        articleTitle="Berlatih UX Writing dengan beberapa prinsip dasar microcopy"
      >
      </app-small-card>
      <hr>
      <app-small-card
        photoCover="https://www.dwinawan.com/blog/thumb_article11.jpg"
        articleDate="01 de Dez de 2022"
        articleTitle="Mungkin ini cara tercepat untuk belajar membuat design landing page"
      >
      </app-small-card>
      
    </div>
  </div>
</div>
